*.class

# Package Files #
*.jar
*.war
*.ear
Bachelor-Arbeit.aux
Bachelor-Arbeit.bbl
Bachelor-Arbeit.blg
Bachelor-Arbeit.lof
Bachelor-Arbeit.log
Bachelor-Arbeit.out
Bachelor-Arbeit.synctex.gz
Bachelor-Arbeit.toc
